<html>
    <head>
{{content_for_header}}
{{'style.css' |  asset_url |  stylesheet_tag}}
    </head>
    <body>
        {% render 'header' %}
        {%section 'navbar'%}
        {%sections 'header-group'%}
{{content_for_layout}}
    </body>
</html>