<div>Hi there</div>



{% schema  %} 
{
    "name": "About Section",
    "settings": [
    {
        "type": "text",
        "id":"header",
        "label": "Header Text"

    }
    
],
"blocks" : [
{
    "type": "text",
    "name": "About Us Text",
    "settings": [{
    "id" : "paragraph",
    "label": "About Us",
    "default" : "information about us here"

    }]
}
]

}
{% endschema %}