

{% schema %}
    {
        "name": "header",
        "settings": [],
        "blocks": [
            {
                "type": "about_text",
                "name": "About Text",
                "settings": [
                    {
                        "type": "text",
                        "id": "about_text",
                        "label": "About Text"
                    }
                ]
            },
            {
                "type": "about_hero_image",
                "name": "About Hero Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "about_hero_image",
                        "label": "Image"
                    }
                ]
            }
        ]
    }
    {% endschema %}

    <style>
 .about-page-container{
    width: 100%;
 }
        .about-page-container img{
object-fit: contain;        }
    </style>
    
    <div class="about-page-container">
        {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
                {% if block.type == 'about_text' %}
                    <h1 class="about-text">{{ block.settings.about_text }}</h1>
                {% endif %}
                {% if block.type == 'about_hero_image' %}
                    <img src="{{ block.settings.about_hero_image | img_url: 'master' }}" alt="About Image" class="about-image">
                {% endif %}
            {% endfor %}
        {% endif %}
      
        <h1>{{ page.title }}</h1>
    
        <div class="about-content">
            {{ page.content }} <!-- This will display the content added via the admin panel -->
        </div>
    </div>
    