{% schema  %}
{
"name": "banner section",
"tag": "banner-section",
"settings": [
    
        "type": "text",
        "id": "banner-text",
        "label": "banner-text",
        "default": "inser banner text here"]
    }


{% endschema %}

    <div class="banner-section">
        <h4> </h4>
    </div>