{% schema  %} 

{

"name": "Featured Collection",

"settings": [
    {
        "type": "collection",
        "id": "card-collection",
        "label": "Collection",
        "default":"frontpage"

    }

]


}

{% endschema %}

<div class="card-collection">

<h1>{{ section.settings.collection.title }}</h1>
</div>