
<div>hi</div>


{% schema %}
    {
      "name": "Cards Collection",
      "settings": [
        {
          "type": "range",
          "id": "columns-desktop",
          "label": "Products Per page",
          "min": 4,
          "max": 20,
          "step": 4,
          "default": 16
        }

      ]
      
    }
  {% endschema %}