<div>hi</div>
<div>hello</div>

<div class="product-grid-container">
  {% paginate collection.products by section.settings.products_per_page %}
    <ul class="product-grid grid--{{ section.settings.columns_mobile }}-col-mobile grid--{{ section.settings.columns_desktop }}-col-desktop">
      {% for product in collection.products %}
        <li class="grid__item">
          {% render 'product-card', product: product %}
        </li>
      {% endfor %}
    </ul>

    {% render 'pagination', paginate: paginate %}
  {% endpaginate %}
</div>

{% schema %}
    {
      "name": "Cards Collection",
      "settings": [
        {
          "type": "range",
          "id": "products_per_page",
          "label": "Products Per page",
          "min": 4,
          "max": 20,
          "step": 4,
          "default": 16
        },
        {
      "type": "range",
      "id": "columns_mobile",
      "label": "Columns (Mobile)",
      "min": 1,
      "max": 2,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "label": "Columns (Desktop)",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    }

      ]
      
    }
  {% endschema %}