{% schema  %} 

{

"name": "Featured Collection",

"settings": [
    {
        "type": "collection",
        "id": "card-collection",
        "label": "Collection",
        "default":"frontpage"

    }

]


}

{% endschema %}

<div class="card-collection">

<h1>{{ section.settings.collection.title }}</h1>
<div class ='products-grid'>
{% for product in section.settings.collection.products %}
<div class='card-product'>

<h2>{{product.title}}</h2>
</div>
{%endfor%}
</div>

</div>