
<div>hi</div>
<div>hello</div>


{% schema %}
    {
      "name": "Cards Collection",
      "settings": [
        {
          "type": "range",
          "id": "products_per_page",
          "label": "Products Per page",
          "min": 4,
          "max": 20,
          "step": 4,
          "default": 16
        },
        {
      "type": "range",
      "id": "columns_mobile",
      "label": "Columns (Mobile)",
      "min": 1,
      "max": 2,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "label": "Columns (Desktop)",
      "min": 2,
      "max": 6,
      "step": 1,
      "default": 4
    }

      ]
      
    }
  {% endschema %}