<div class="drink-menu-container"> 
  {% if section.settings.drink_name and section.settings.price %}
    <div class="drink-item">
      <div class="drink-name">{{ section.settings.drink_name }}</div>
      <div class="drink-price">{{ section.settings.price | money }}</div>
    </div>
  {% else %}
    <p>No items added to the menu.</p>
  {% endif %}
</div>

<style>
.drink-menu-container {s
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Optional: Adds spacing between items */
}

.drink-item {
  display: flex;
  justify-content: space-between;
}

.drink-name, .drink-price {
  flex: 1;
}
</style>

{% schema %} 
{
  "name": "menu",
  "settings": [
    {
      "type": "text",
      "id": "drink_name",
      "label": "Drink Name"
    },
    {
      "type": "text",
      "id": "price",
      "label": "Drink Price",
      "default": "10"
    }
  ],
  "presets": [
    {
      "name": "Drink Menu"
    }
  ]
}
{% endschema %}
