<div class="drink-menu-container"> 
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'drink_item' %}
        <div class="drink-item">
          <div class="drink-name">{{ block.settings.drink_name }}</div>
          <div class="drink-price">{{ block.settings.drink_price | money }}</div>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No items added to the menu.</p>
  {% endif %}
</div>

<style>
    
    
.drink-menu-container a {
  color: whitesmoke; /* Change link color to white */
  text-decoration: none; /* Remove underline */
}

.drink-menu-container a:hover {
  color: white; /* Optional: Change link color on hover */
}

.drink-item {
  display: flex;
  justify-content: space-between;
}
.drink-item > *{
  color: whitesmoke;

}
.drink-name, .drink-price {
  flex: 1;
}
</style>

{% schema %} 
{
  "name": "menu",
  "settings": [],
  "blocks": [
    {
      "type": "drink_item",
      "name": "Drink Item",
      "settings": [
        {
          "type": "text",
          "id": "drink_name",
          "label": "Drink Name"
        },
        {
          "type": "text",
          "id": "drink_price",
          "label": "Drink Price",
          "default": "10"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Drink Menu"
    }
  ]
}
{% endschema %}
