{% schema %}
  {
    "name": "Explainer Section",
    "settings": [],
    "blocks": [
      {
        "type": "textarea",
        "name": "explainer_text",
        "settings": [
          {
            "type": "textarea",
            "label": "Explainer text",
            "id": "explainer_text",
            "default": "Insert text here"
          }
        ]
      },
      {
        "type": "color",
        "name": "background",
        "settings": [
          {
            "type": "color",
            "label": "Background color",
            "id": "background_color",
            "default": "#262626"
          }
        ]
      }
    ]
  }
{% endschema %}

<div class="explainer-section" style="background-color: {{ section.settings.background_color }};">
  {% for block in section.blocks %}
    {% if block.type == 'textarea' %}
      <h2>{{ block.settings.explainer_text }}</h2>
    {% endif %}
  {% endfor %}
</div>

<style>
  .explainer-section {
    font-family: 'Dela-Gothic-One';
    color: #aae682;
  }
</style>
