{% schema  %}
{
"name": "Hero-Image",
"tag": "section",
"settings": [
    {
        "id":"hero_section",
        "type": "image_picker",
        "label": "Hero Image"
    }
],
"blocks":[
    {
        "type": "text_block",
        "name": "Hero Text",
        "settings": [
            {
                "type": "text",
                "id": "hero_text",
                "label": "Hero Text",
                "default": "Come have a Brewtastic time!"
            },
            {
                "type":"text",
                "id":"subline",
                "label": "Subline",
                "default": "you know u wanna"

            }
        ]
    }
]
}

{% endschema %}

<style>

.hero-section{
    display: flex;
    flex-direction: row;
    
}
.hero-text{
    display: flex;
    flex-direction: column;
}

</style>


<div class="hero-section">

{%if section.settings.hero_section %}
    <img width="500" height="500" src="{{section.settings.hero_section | img_url: 'master'}}" alt="Hero Image">
    {%endif%}


    {% if section.blocks.size > 0 %}
        {%for block in section.blocks %}
            {%if block.type =='text_block'%}
                <div class = "hero_text"> 
                    <h2>{{block.settings.hero-text}}</h2>
                    <p>{{block.settings.subline}}</p>
                
                </div>
            {%endif%}
        {% endfor %}
    {%endif%}
</div>