<link type="text/css" href="{{ 'navbar.css' | asset_url }}" rel="stylesheet">
<nav id ='navbar'>
<h1 id="nav-title">Brewdacity</h1>

</nav>
{% schema %}
    {
        "name": "Navbar",
        "class": "top-navbar",

        "settings": [
            {
                "id":"topnav",
                "type": "text",
                "label": "nav"

            }
        ],
        "presets": [
            {
                "name": "Navbar",
                "type": "text",
                "category": "Text"
                
            }
        ]
}
{% endschema %}

