


{% schema %}
    {
      "name": "Navbar",
      "tag":"section",

      "settings": [
        {
          "id": "nav_title",
          "type": "text",
          "label": "Navigation Title",
          "default": "Brewdacity"
        }
       
      ],
      "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }
      ],
      "blocks":[
        {

      "name": "NavLink",
      "type": "nav_link",
    "settings":[{

    "id": "navlink",
    "type": "text",
    "label": "Nav Link",
    "default": "link"
    },
    {
        "id":"link_url",
        "type": "url",
        "label": "Link URL",
        "default": "/"
    }
]   
      
      }
    ]
    }
    {% endschema %}
    


    <style>
        .navbar{
          background-color: #e5e3e231;
          color: #7b56ea;
          font-family: sans-serif;
          padding: 1rem;
          align-content: center;
          display: flex;
          max-width: 100%;
         flex-wrap: wrap
          flex-direction: row;
        }
        
      .nav_title{
        max-width: 25%;
      }
        .nav-links {
          list-style: none;
          width: 75%;
          flex:1;
          text-decoration: none;

          display: flex;
          
          list-style-type: none;
          flex-direction: row;
          justify-content: flex-end;

          padding: 0;
        }
      
        .nav-links li {
            list-style-type: none;
            color: #7b56ea;
            text-decoration: none;
            font-size: 1rem;
            margin-right: 10px;

        }
        .nav-links li a{
          color: #7b56ea;
            text-decoration: none;

        }
      </style>

<nav class="navbar">
    <div class="nav_title">
  <h1 >{{ section.settings.nav_title }}</h1>
</div>
  <ul class="nav-links">
    {%for block in section.blocks%}
        {%if block.type =='nav_link'%}
           <li> <a href="{{block.settings.link_url}}">{{block.settings.navlink}}</a></li>

        {% endif %}
        {% endfor %}
        <li class="cart-link">
      <a href="/cart">
          <!-- SVG path for the cart icon -->
<img width='20' height='20' class='cartimg' src="../assets/cart.svg">        
        <span class="cart-count">{{ cart.item_count }}</span>
      </a>
    </li>
        </ul>

</nav>