


{% schema %}
    {
      "name": "Navbar",
      "tag":"section",

      "settings": [
        {
          "id": "nav_title",
          "type": "text",
          "label": "Navigation Title",
          "default": "Brewdacity"
        }
       
      ],
      "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }
      ],
      "blocks":[
        {

      "name": "NavLink",
      "type": "nav_link",
    "settings":[{

    "id": "navlink",
    "type": "text",
    "label": "Nav Link",
    "default": "link"
    },
    {
        "id":"link_url",
        "type": "url",
        "label": "Link URL",
        "default": "/"
    }
]   
      
      }
    ]
    }
    {% endschema %}
    


    <style>
        #nav_title {
          background-color: #333;
          color: #fff;
          font-family: sans-serif;
          font-size: 12rem;
          padding: 10px;
        }
      
        .nav-links {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;
        }
      
        .nav-links li {
          margin-right: 10px;
        }
      

<nav class="navbar">
  <h1>{{ section.settings.nav_title }}</h1>

  <ul class="nav-links">
    {%for block in section.blocks%}
        {%if block.type =='nav_link'%}
           <li> <a href="{{block.settings.link_url}}">{{block.settings.navlink}}</a></li>

        {% endif %}
        {% endfor %}
        </ul>

</nav>