


{% schema %}
    {
      "name": "Navbar",
      "tag":"section",

      "settings": [
        {
          "id": "nav_title",
          "type": "text",
          "label": "Navigation Title",
          "default": "Brewdacity"
        }
       
      ],
      "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }
      ],
      "blocks":[
        {

      "name": "NavLink",
      "type": "nav_link",
    "settings":[{

    "id": "navlink",
    "type": "text",
    "label": "Nav Link",
    "default": "link"
    },
    {
        "id":"link_url",
        "type": "url",
        "label": "Link URL",
        "default": "/"
    }
]   
      
      }
    ]
    }
    {% endschema %}
    


    <style>
        .navbar{
          background-color: #333;
          color: #fff;
          font-family: sans-serif;
          padding: 1rem
          display: flex;
          width: 100%;
         flex-wrap: wrap
          flex-direction: row;
        }
        
      .nav_title{
        max-width: 25%;
      }
        .nav-links {
          list-style: none;
          width: 75%;
          display: flex;
          flex-direction: row;
          margin: 0;
          padding: 0;
        }
      
        .nav-links li {
            list-style: none;
            color: white;
        }
      </style>

<nav class="navbar">
    <div class="nav_title">
  <h1 >{{ section.settings.nav_title }}</h1>
</div>
  <ul class="nav-links">
    {%for block in section.blocks%}
        {%if block.type =='nav_link'%}
           <li> <a href="{{block.settings.link_url}}">{{block.settings.navlink}}</a></li>

        {% endif %}
        {% endfor %}
        </ul>

</nav>