


{% schema %}
    {
      "name": "Navbar",
      "settings": [
        {
          "tag":"section",
          "id": "nav_title",
          "type": "text",
          "label": "Navigation Title",
          "default": "Brewdacity"
        }
       
      ],
      "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    

<nav class="navbar">
  <h1>{{ section.settings.nav_title }}</h1>
  <ul class="nav-links">
    {% for link in section.settings.nav_links %}
      <li><a href="#">{{ link }}</a></li>
    {% endfor %}
  </ul>
</nav>