{% schema %}
    {
        "name": "On Sale Section",
        "tag": "section",
        "settings": [
            {
                "id": "sale-section",
                "type": "text",
                "label": "Sale Section Heading",
                "default": "On Sale Section"
            }
        ],
        "blocks": [
            {
                "type": "product-columns",
                "name": "Product Columns",
                "settings": [
                    {
                        "type": "range",
                        "id": "columns",
                        "label": "Columns",
                        "min": 1,
                        "max": 4,
                        "default": 1
                    }
                ]
            }
        ]
    }
    {% endschema %}
    
    <div>
        <h1>{{ section.settings.sale-section }}</h1>
        <p>Mobile Columns: {{ block.settings.columns_mobile }}</p>
    </div>
    