
{%schema%}
{
    "name": "Product Collection",
    
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "this is a collection Name" 
        }

    ],
    "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }],
        
    "blocks":[
        {
            "type": "text",

        "name": "Individual Product Name",


        "settings": [
            {
            "type": "text",
            "id": "subcollection_name",
            "label": "Sub Name",
            "default": "Chello collection Name"
        }
        
       
        ]
        
        }
    ]

    
}
{%endschema%}

<style>
    .product-collection{
        font-size: 2rem;
    }
</style>



<section class="product-collection">
<h1>{{section.settings.collection_title}}</h1>
<div class="collections">
    <h3>{{block.settings.subcollection_name}}</h3>
 {% for block in section.blocks%}
{%endfor%}

</div>


</section>
