{%schema%}
{
    "name": "Product_Detials",
    "settings": [
        
    {
        "type": "text",
        "id": "product_name",
        "label": "Product Name",
        "default": "Insert Product details here"


    }

],
"blocks":[
    {
    "type": "text",
    "name": "Product Title",
    "settings": [

    ]

},

{
    "type": "image",
    "name": "Product Image",
    "settings": [

    ]
}
]

}
    {%endschema%}
    <div class="product-details">

    
    </div>