
{%schema%}
{
    "name": "Product Collection",
    
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "this is a collection Name" 
        }

    ],

        
    "blocks":[
        {
            "type": "text",

        "name": "Individual Product Name",


        "settings": [
        
        {
        "type": "text",
        "id": "title",
        "label": "Product Name",
        "default": "Insert Product details here"


    },


  
        {
            "type":"image_picker",
            "id": "product_image",
            "label": "Product Image"
},

        {
            "type": "text",
            "id": "price",
            "label": "Price",
            "default": "$10.00"
        }



       
        ]
        
        }
    ]

    
}
{%endschema%}

<style>
    .product-collection{
        font-size: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;

    }
    .product-details img{
    max-width: 100%;
    }
    .product-details{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product{
        display: flex;
        flex-direction: column;
    }
</style>



<section class="product-collection">
<h1>{{section.settings.collection_title}}</h1>


<div class="product-details">
    {% for block in section.blocks %}
    <h3>{{ block.settings.title }}</h3>
    {%if block.settings.product_image%}
        <img height="300" width="300" src="{{block.settings.product_image | img_url: 'master' }}" alt ="product image">
       {%endif%}

      {%if block.settings.price%}
        <p>{{ block.settings.price }}</p>
      {% endif %}
      {%endfor%}
      </div>
    

</section>
