
{%schema%}
{
    "name": "Product Collection",
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "Collection Name" 
        },
      {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "Helvetica, sans-serif"

        }

    ],
    "blocks":[
        {

        "name": "Product-Collection",
        "type": "text",
        "id":"product_name",

        "settings": [

        {

        }
        ]
        
        }
    ]

    
}
{%endschema%}




<section class="product-collection">

  {% for block in section.blocks %}

    {%%} '../sections/product-details' %}


    {%endfor%}



</section>
