
{%schema%}
{
    "name": "Product Hi Collection",
    
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "this is a collection Name" 
        }

    ],
    "presets": [
        {
          "name": "Default",
          "category": "Custom"
        }],
        
    "blocks":[
        {
            "type": "text",

        "name": "Individual Product Name",
        "id":"individual_name",


        "settings": [{
            "id": "subcollection_name",
            "type": "text",
            "default": "Chello collection Name",
            "label": "sub_Name"
        }
        
       
        ]
        
        }
    ]

    
}
{%endschema%}




<section class="product-collection">
<h1>{{section.settings.collection_title}}</h1>
<div class="collections">
 {% for block in section.blocks%}
{% section 'product-details' %}
{%endfor%}

</div>



</section>
