
{%schema%}
{
    "name": "Product Collection",
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "Collection Name" 
        },
      {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "Helvetica, sans-serif"

        }

    ],
    "blocks":[
        {

        "name": "Product-Collection",
        "type": "text",
        "id":"product_name",

        "settings": [{
            "id": "collection_name",
            "type": "text",
            "default": "Collection Name",
            "label": "Collection_Name"
        }
        
       
        ]
        
        }
    ]

    
}
{%endschema%}




<section class="product-collection">
<h1>{{section.settings.collection_title}}
    {for block in block}
</h1>



</section>
