
{%schema%}
{
    "name": "Product Collection",
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "Collection Name" 
        },
      {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "Helvetica, sans-serif"

        }

    ],
    "blocks":[
        {

        "name": "Collection Name",
        "type": "text",
        "id":"collection_name",

        "settings": [{
            "id": "collection_name",
            "type": "text",
            "default": "Collection Name",
            "label": "Collection_Name"
        }
        
       
        ]
        
        }
    ]

    
}
{%endschema%}




<section class="product-collection">
<h1>{{section.settings.collection_title}}</h1>
<div class="collections">
    {% for block in section.blocks%}
<h3>{{block.settings.collection_name}}</h3>
    {%endfor%}

</div>


</section>
