
{%schema%}
{
    "name": "Product Collection",
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "Collection Name" 
        },
      {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "Helvetica, sans-serif"

        }

    ],
   "blocks": [
        {
            "type": "text",
            "name": "Product Details",
            "settings": [
                {
                    "type": "checkbox",
                    "id": "show_price",
                    "label": "Show Price",
                    "default": "true"

                },
                {
                    "type": "checkbox",
                    "id": "show_description",
                    "label": "Show Description",
                    "default": "true"
                }
            ]

        }
    ]

}

{%endschema%}




<section class="product-collection">
    <h2>{{section.settings.collection_title}}</h2> 
    <div class="product-list">
        
    {%for block in section.blocks %}
        {%  section 'product-details' %} 
    {%endfor %}


    </div>



</section>
