
{%schema%}
{
    "name": "Product Collection",
    "settings": [
        {
            "type":"text",
            "id": "collection_title",
            "label": "Collection Title",
            "default": "Collection Name" 
        },
      {
            "type": "font_picker",
            "id": "text_font",
            "label": "Text Font",
            "default": "Helvetica, sans-serif"

        }

    ]

    
}
{%endschema%}




<section class="product-collection">

  {% for block in section.blocks %}

    {%section '../sections/product-details' %}


    {%endfor%}



</section>
