{% schema  %}  
{
  "sections": {
    "main": {
      "type": "cards-collection"
    }
  },
  "order": [
    "main"
  ]
}
{% endschema %}
{% section 'cards-collection' %}
<div class="card-collection">
<h1>hi</h1>
</div>